.container{
    display: flex;
    height: 600px;
    width: 400px;
    background:linear-gradient(to right,rgb(9rgb(114, 114, 160)4, 170),rgb(95, 95, 171));
    margin: auto;
    justify-content: center;
}

.btn{
    background-color: rgb(86, 86, 247);
    cursor: pointer;
    height: 40px;
    width: 120px;
    border: 1px solid rgb(86, 86, 247);
    border-radius: 12px;
    
}

.btn:hover{

}


